<%-include('header')-%>

<body>
  <nav class="navbar sticky-top d-flex justify-content-around">
      <div class="container-fluid">
        <a class="navbar-brand main-head" href="#">ARTISTIC GALLERY</a>
        <button class="logoutbtn btn btn-danger me-md-2" type="button"><a href="/logout" class="text-dark">LOG OUT </a></button>
      </div>
    </nav>
    <section id="hero" class="d-flex align-items-center">

      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h1>ART GALLERY BOOKINGS</h1>
            <h2>a platform to display your art pieces</h2>
            <div class="d-flex justify-content-center justify-content-lg-start">
              <a href="#about" class="btn-get-started scrollto">Get started for free</a>
              
            </div>
          </div>
          
          <!-- <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
            <img src="https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg" class="img" alt="">
          </div> -->
        </div>
      </div>
  
    </section>
</body>




<%-include('footer')-%>
